<html style="--wm-toolbar-height: 1px;">

<head>
	<title>{ifset title}{include title|stripHtml} | {/ifset} Проект Renaissance</title>
	<meta content="text/html; charset=utf8" http-equiv="content-type">
	<link rel="SHORTCUT ICON" href="img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/stl.css">
	<script type="text/javascript" src="js/rotator.js"></script>
</head>

<body bgcolor="#FFFFFF">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" class="{ifset title}inner{else}index{/ifset}">
		<tbody>
			<tr>

				<td width="5%" class="col1"><img width="1" height="1" src="/img/0.gif"></td>
				<td width="90%" class="col2">
					<div class="topmenu">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="topmenu">
							<tbody>
								<tr>
									<td width="25%" class="c1" nowrap="">
										<a href="/">
											<img src="img/renaissance_logo.gif" alt="Renaisssance" width="175" height="48" border="0">
										</a>
									</td>
									<td width="75%" class="c2" nowrap="">
										<a href="about"><b>О программе</b></a>
										<a href="download"><b>Загрузить</b></a>
										<a href="help"><b>Помощь</b></a>
										<a href="developers"><b>Разработчикам ;-)</b></a>
										{if $user->isLoggedIn()}
										<a href="anketa_edit"><b>Анкета {$userObj->getNickname()}</b></a>
										<a href="logout"><b>Выйти</b></a>
										{else}
										<a href="login"><b>Войти</b></a>
										<a href="reg"><b>Зарегистрироваться</b></a>
										{/if}
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="content">
						<tbody>
							<tr>
								<td width="25%" class="c1">
									<!--col1-->
									<div class="download">
										<div class="x">
											<h3>Загрузить: </h3>
											<div class="x"><a href="download/agent_windows/download.html"
											 class="agent_ico1"><b>Mail.Ru Агент</b>для Windows</a>
												<a href="download/mobile_agent" class="agent_ico2"><b>Мобильный	Агент</b>Java</a>
												<a href="download/agent_windowsmobile/download.html"
													class="agent_ico3"><b>Мобильный Агент</b>для Windows Mobile</a><br>
												<br><br>
											</div>
										</div>
										<div class="corner1">
											<div class="c"><img src="img/corner1.png" width="53" height="60"></div>
										</div>
									</div>
								</td>
								<td width="5%" class="c2"><img src="img/0.gif" width="43" height="1"></td>
								<td width="70%" class="c3">
									<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

									{include content}
								</td>
							</tr>
						</tbody>
					</table>
					<div class="footer">
						<div class="x"><img src="img/agent_mailru_logo_small.gif" alt="" width="114" height="24"
								border="0"></div>
					</div>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="footer">
						<tbody>
							<tr>
								<td width="30%" class="c1">© Проект Renaissance. НЕ ИМЕЕТ НИКАКОГО ОТНОШЕНИЯ К VK GROUP,
									ООО "ВК" И ЯВЛЯЕТСЯ ЛЮБИТЕЛЬСКИМ НЕКОММЕРЧЕСКИМ ПРОЕКТОМ</td>
								<td width="70%" class="c2"><a
										href="https://t.me/renaissancemrim">Telegram</a> | <a
										href="https://flirb.net/profile.php?username=renaissance">Flirb</a> | <a
										href="/about">О проекте</a> </td>
							</tr>
						</tbody>
					</table>
					<div><img src="img/0.gif" alt="1" width="990" height="1"></div>
				</td>
				<td width="5%" class="col3"><img src="img/0.gif" width="1" height="1"></td>
			</tr>
		</tbody>
	</table>
</body>

{block scripts}
<script src="https://unpkg.com/nette-forms@3"></script>
{/block}

</html>